.bgImage1{
    background-image: url('https://i.ibb.co.com/M7YBxTy/1706683725961-1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.bgImage2{
    background-image: url('https://i.ibb.co.com/QkTfJVB/FB-IMG-1730111057378.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.bgImage3{
    background-image: url('https://i.ibb.co.com/P1rkRcc/81f068052d7cc9e8cd6f99db6aea0407.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.bgImage4{
    background-image: url('https://i.ibb.co.com/M7YBxTy/1706683725961-1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


.glassmorphisom{
     backdrop-filter: blur(2px) saturate(200%);
    -webkit-backdrop-filter: blur(2px) saturate(200%);
    background-color: rgba(255, 255, 255, 0.46);
}